header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    display: flex;
}

nav {
    display: flex;
    flex-direction: row-reverse;
}

nav li {
    display: flex;
    
    
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}